# Week 1 tutorial: Python basics

Please note that there are several different ways to solve a problem in python. The ones suggested below are one way of doing them. If you prefer to solve them in another way, please feel free.

## 1. Markdowns in Jupyter

Create four different markdowns using #, ##, ### and no # symbols. This will be useful to write headings when you start coding.

# Big hello

## Medium hello

### Small hello

No bold hello

## 2. Variables

Create a variable with name "x" and assign a value of 20

In [3]:
x = 20

Now print the value of "x"

In [4]:
x

20

Is there a second way to obtain the same result?

In [5]:
print (x)

20

Create three new variables: x, y and z that are equal to 10, 20 and 30, respectively, on the same line (not individually as before)

In [6]:
x,y,z = (10,20,30)

Print the value of z

In [7]:
z

30

## 3. Numbers and Boolean Values

Create a variable that is equal to "True"

In [8]:
x = True

Check its type

In [10]:
type(x)

bool

Create a variable equal to 12

In [11]:
a = 12

Check its type

In [12]:
type(a)

int

Check the type of the value 12.04

In [13]:
type(12.04)

float

Turn the variable equal to 12 into a float

In [14]:
float(a)

12.0

## 4. Strings

Assign the value of 6789 to the variable "a"

In [17]:
a = 6789

Using the variable "a", write a line of code where the output after executuion would be *CEIC6789*.

In [19]:
print ('CEIC' + str(a))

CEIC6789

## 5. Arithmetic operators

Add 20 and 30, and set the value to a variable. Then print that variable.

In [20]:
z = 20 + 30
z

50

Divide 25 by 3, and set the value to a variable. Then print that variable.

In [26]:
y = 25 / 3
y

8.333333333333334

## 6. Reassign Values

Multiply 5 with 3, and assign the result to a variable "c", and print "c"

In [47]:
c = 5 * 3
c

15

Now assign 25 to the same variable "c", and print "c"

In [48]:
c = 25
c

25

Observe how the value of "c" is always the last one you have assigned

## 7. Add comments

Add a comment saying you are going to print 100 and then in the same cell print 100

In [49]:
# The following line of code prints 100
print(100)

100

## 8. Line Continuation

Add a backslash in the code below, so it is a one-line code. Observe the change in the result.

In [50]:
20 + 30
- 10

-10

In [51]:
20 + 30 \
- 10

40

## 9. Comparison Operators

Verify that 5 is smaller than 10

In [52]:
5 < 10

True

Verify that 3 multiplied by 2 is equal to 6

In [53]:
3 * 2 == 6

True

Verify that 10 is not equal to 5

In [54]:
10 != 5

True

## 10. IF statement

Create a code that prints "You might be in the right course!" if a variable "course" is assigned a value 6789

In [68]:
course = 6789
if course == 6789:
    print ("You might be in the right course!")

You might be in the right course!

Now, create a code that prints "You are in the right course!" if a variable "course" is assigned a value 6789 and if a variable "title" is assigned a string "CEIC"

In [69]:
course = 6789
title = 'CEIC'

if course == 6789 and title == 'CEIC':
    print ('You are in the right course!')

You are in the right course!

## 11. IF-ELSE Statement

Now, create a code that prints "You are in the right course!" if a variable "course" is assigned a value 6789 and if a variable "title" is assigned a string "CEIC". If not, the code should print "You are in the wrong course!"

In [77]:
course = 6789
title = 'CEIC'

if course == 6789 and title == 'CEIC':
    print ('You are in the right course!')
else:
    print ('You are in the wrong course!')

You are in the right course!

## 12. IF - ELSE IF and ELSE Statement

Now, create a code that prints "You are in the right course!" if a variable "course" is assigned a value 6789 and if a variable "title" is assigned a string "CEIC". If one of these conditions is satisfied, then the code should print "You might be in the right course!". If not, the code should print "You are in the wrong course!"

In [81]:
course = 6789
title = 'CEIC'

if course == 6789 and title == 'CEIC':
    print ('You are in the right course!')
elif course == 6789 or title == 'CEIC':
    print ('You might be in the right course!')
else:
    print ('You are in the wrong course!')

You are in the right course!

## 13. Functions

Write a function that calculates the average of three numbers, and prints the result.

In [88]:
def average_three(a,b,c):
    result = (a + b + c) / 3
    print ('The result is ', result)
    return result

average_three(1, 4, 10)

The result is  5.0

5.0

## 14. Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [107]:
Numbers = [10, 25, 40, 50]

Print the element at index 2 from the list.

In [108]:
Numbers[2]

40

Print the 0th element.

In [109]:
Numbers[0]

10

With the help of the "append method", add the number 100 to the list.

In [110]:
Numbers.append(100)
Numbers

[10, 25, 40, 50, 100]

With the help of the "extend method", add the numbers 115 and 140 to the list.

In [111]:
Numbers.extend([115, 140])
Numbers

[10, 25, 40, 50, 100, 115, 140]

## 15. Tuples and Dictionaries

Self-learning: Please understand what tuples and dictionaries are, and try to solve some examples.

## 16. For Loops

Create a For loop that prints every digit in the list [0,1,2,3,4,5] on a new line.

In [112]:
digits = [0,1,2,3,4,5]

In [113]:
for d in digits:
    print (d)

0
1
2
3
4
5

Now do the same using the range function

In [118]:
for d in range(0,6):
    print (d)

0
1
2
3
4
5

Learn more about the range function. It is quite useful.

## 17. Use Conditional Statements and Loops Together

Create a code that runs a loop over all values from 1 to 10. Let it print all Odd numbers, and in the place of the even numbers, it should print "Even". Let the output be printed on a single line.

Tips:
Help yourself with the range() function to solve this exercise.
Use the end argument in the print function.

In [134]:
for x in range(1,10):
    if x % 2 == 1:
        print (x, end = " ")
    else:
        print ("Even", end = " ")

1 Even 3 Even 5 Even 7 Even 9

## 18. Check out some important built-in functions in Python

Obtain the maximum and minimum number among the values 12, 60, 1555, and 2.

In [120]:
max(12, 60, 1555, 2)

1555

In [121]:
min(12, 60, 1555, 2)

2

Find the absolute value of -124

In [122]:
abs(-124)

124

Round the values of 33.2 and 33.7

In [123]:
round(33.2)

33

In [124]:
round(33.7)

34

Round 33.52647 to the second digit.

In [125]:
round(33.52647, 2)

33.53

Find the sum of all elements in the provided list, called "Numbers". Numbers = [1, 5, 64, 24.5]

In [1]:
Numbers = [1, 5, 64, 24.5]

In [2]:
sum(Numbers)

94.5

Use a built-in function to raise 10 to the power of 3.

In [128]:
pow(10, 3)

1000

How many characters are there in the word "CEIC6789"?

In [130]:
len("CEIC6789")

8